* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
    width: calc(20 * 30px);
}

.difficulty-drop-down,
#reset,
#time,
#hint {
    flex: 1;
    text-align: center;
    margin: 1vh;
}

.minesweeper {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    border: 0.4vh solid #000000;
}

.cell {
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: calc(0.4vh / 3) solid #575757;
    font-weight: bolder;
}

.cell.revealed {
    background: #cbc6c6;
}

li {
    list-style-type: none;
}

#highscores {
    position: fixed;
    transform: translateY(-100%);
    top: 50%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#highscores li, #highscores h2 {
    margin-top: 0.5vh;
}

#highscores h2 {
    margin-bottom: 1.5vh;
}

#highscores li {
    transform: translateX(-10%);
}
