* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

header {
    margin: 2vh;
}

.difficulty-drop-down {
    
}

.minesweeper {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    border: 0.4vh solid #000000;
}

.cell {
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: calc(0.4vh / 3) solid #575757;
    font-weight: bolder;
}

.cell.revealed {
    background: #cbc6c6;
}

#reset {
    margin-top: 20px;
}
